/* ===== GLOBAL ===== */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Courier New", monospace;
    background-image: radial-gradient(orange 0.5px, black 1px);
    background-size: 40px 40px;
    color: #eaeaea;
    line-height: 1.6;
    overflow-x: hidden;
}

/* Header */
header {
    width: 100%;
    background: #000000;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    /* display: none; */
    border-bottom: grey 1px solid;
}

/* Container */
.nav-container {
    max-width: 1200px;
    margin: auto;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Logo */
.logo {
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
}

.logo>img {
    height: 1rem;
    width: 10rem;
}

/* Nav Links */
.nav-links {
    display: flex;
    gap: 2rem;
    list-style: none;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
    position: relative;
}

/* Hover underline */
.nav-links a::after {
    content: "";
    position: absolute;
    width: 0%;
    height: 2px;
    background: white;
    left: 0;
    bottom: -4px;
    transition: 0.3s;
}

.nav-links a:hover::after {
    width: 100%;
}

/* Hamburger */
.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    gap: 5px;
}

.hamburger span {
    width: 25px;
    height: 3px;
    background: white;
}

/* Mobile */
@media(max-width:768px) {

    .nav-links {
        position: absolute;
        top: 70px;
        left: 0;
        width: 100%;
        background: #111;
        flex-direction: column;
        align-items: center;
        padding: 1rem 0;
        display: none;
    }

    .nav-links.active {
        display: flex;
    }

    .hamburger {
        display: flex;
    }

}

/* dotted background like your theme */
body::before {
    content: "";
    position: fixed;
    inset: 0;
    background-image: radial-gradient(#2a2a2a 1px, transparent 1px);
    background-size: 22px 22px;
    opacity: .45;
    z-index: -1;
}

/* spacing for existing navbar/footer */
.header-space {
    height: 90px;
}

.footer-space {
    height: 140px;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
}

/* ===== HERO ===== */

.about-hero {
    padding: 100px 0 70px;
    text-align: center;
}

.about-hero h1 {
    font-size: 48px;
    color: #ffb300;
    margin-bottom: 20px;
}

.about-hero p {
    max-width: 750px;
    margin: auto;
    color: #bdbdbd;
    font-size: 18px;
}

/* ===== SECTIONS ===== */

.about-section {
    padding: 90px 0;
}

.alt {
    background: rgba(255, 255, 255, 0.02);
    border-top: 1px solid #1d1d1d;
    border-bottom: 1px solid #1d1d1d;
}

.grid-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
    align-items: center;
}

.about-text h2 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #9cff2e;
}

.about-text p {
    margin-bottom: 18px;
    color: #cfcfcf;
}

/* stats card */

.about-card {
    background: #0c0c0c;
    border: 1px solid #222;
    padding: 40px;
    border-radius: 14px;
    display: grid;
    gap: 25px;
}

.stat h3 {
    color: #ffb300;
    font-size: 34px;
}

.stat span {
    color: #9f9f9f;
}

/* services */

.center {
    text-align: center;
    margin-bottom: 50px;
    font-size: 36px;
    color: #9cff2e;
}

.services-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
}

.service-box {
    background: #0b0b0b;
    padding: 28px;
    border: 1px solid #1f1f1f;
    border-radius: 12px;
    transition: .25s;
}

.service-box:hover {
    transform: translateY(-6px);
    border-color: #ffb300;
}

.service-box h3 {
    color: #ffb300;
    margin-bottom: 10px;
}

.service-box p {
    color: #bcbcbc;
}

/* mission */

.mission {
    text-align: center;
    max-width: 750px;
}

.mission h2 {
    font-size: 36px;
    color: #9cff2e;
    margin-bottom: 18px;
}

/* ===== RESPONSIVE ===== */

@media(max-width:1000px) {

    .grid-2 {
        grid-template-columns: 1fr;
    }

    .services-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .about-hero h1 {
        font-size: 36px;
    }
}

@media(max-width:600px) {

    .services-grid {
        grid-template-columns: 1fr;
    }

    .about-hero {
        padding: 70px 0 50px;
    }

    .about-hero h1 {
        font-size: 28px;
    }

    .about-hero p {
        font-size: 15px;
    }

    .about-section {
        padding: 70px 0;
    }
}

.nf-footer {
    background: #b6ff2b;
    color: #0b0b0b;
    font-family: Inter, system-ui;
    padding: 90px 0 40px;
}

.nf-container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: 1.2fr 1fr;
    gap: 80px;
    align-items: start;
}

/* ===== LEFT SIDE ===== */

.nf-left h2 {
    font-size: 42px;
    line-height: 1.2;
    font-weight: 500;
    margin-bottom: 50px;
}

/* form */

.nf-form {
    position: relative;
    max-width: 420px;
}

.nf-form input {
    width: 100%;
    border: none;
    border-bottom: 1px solid #333;
    background: transparent;
    padding: 12px 0;
    font-size: 16px;
    outline: none;
}

/* arrow button */

.nf-form button {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 36px;
    height: 36px;
    background: none;
    border: none;
    cursor: pointer;
}

/* arrow draw */

.nf-form button::before {
    content: "";
    position: absolute;
    width: 14px;
    height: 14px;
    border-top: 2px solid #111;
    border-right: 2px solid #111;
    transform: rotate(45deg);
    right: 6px;
    top: 8px;
    transition: transform .25s ease;
}

.nf-form button:hover::before {
    transform: rotate(45deg) translateY(-4px);
}

/* ===== RIGHT SIDE ===== */

.nf-right {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
}

.nf-links {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.nf-links a {
    text-decoration: none;
    color: #111;
    font-size: 16px;
    transition: opacity .2s;
}

.nf-links a:hover {
    opacity: .5;
}

/* ===== BOTTOM ===== */

.nf-bottom {
    width: 90%;
    max-width: 1200px;
    margin: 70px auto 0;
    padding-top: 30px;
    border-top: 1px solid rgba(0, 0, 0, .25);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    font-size: 14px;
}

.nf-policy {
    text-align: right;
}

/* ===== RESPONSIVE ===== */

@media(max-width:1000px) {

    .nf-container {
        grid-template-columns: 1fr;
        gap: 60px;
    }

    .nf-left h2 {
        font-size: 34px;
    }

}

@media(max-width:600px) {

    .nf-right {
        grid-template-columns: 1fr;
        gap: 30px;
    }

    .nf-left h2 {
        font-size: 28px;
    }

    .nf-form {
        max-width: 100%;
    }

    .nf-bottom {
        flex-direction: column;
        align-items: flex-start;
    }

    .nf-policy {
        text-align: left;
    }
}

.bf-contact-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, .65);
    backdrop-filter: blur(12px);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    transition: .35s ease;
    z-index: 9999;
}

/* open state */

.bf-contact-overlay.active {
    opacity: 1;
    visibility: visible;
}

/* ===== MODAL ===== */

.bf-contact-modal {
    width: 420px;
    max-width: 90%;
    padding: 40px 34px;
    border-radius: 18px;

    background-color: #b6ff2b;
    border: 1px solid rgba(255, 255, 255, .12);
    box-shadow: 0 20px 70px rgba(0, 0, 0, .8);

    transform: translateY(40px) scale(.95);
    transition: .35s cubic-bezier(.19, 1, .22, 1);
    color: black;
}

/* animation */

.bf-contact-overlay.active .bf-contact-modal {
    transform: translateY(0) scale(1);
}

/* close button */

.bf-contact-close {
    position: absolute;
    right: 18px;
    top: 16px;
    background: none;
    border: none;
    color: black;
    font-size: 18px;
    cursor: pointer;
}

/* text */

.bf-contact-modal h2 {
    font-size: 28px;
    margin-bottom: 6px;
}

.bf-contact-sub {
    color: black;
    margin-bottom: 28px;
    font-size: 14px;
}

/* ===== FIELDS ===== */

.bf-field {
    position: relative;
    margin-bottom: 22px;
}

.bf-field input,
.bf-field textarea {
    width: 100%;
    background: transparent;
    border: 2px solid orange;
    border-bottom: 1px solid rgba(255, 255, 255, .25);
    padding: 10px 0;
    color: black;
    outline: none;
    font-size: 15px;
}

.bf-field label {
    position: absolute;
    left: 0;
    top: 10px;
    color: #000000;
    font-size: 14px;
    pointer-events: none;
    transition: .25s ease;
}

/* floating label fix */

.bf-field input:not(:placeholder-shown)+label,
.bf-field textarea:not(:placeholder-shown)+label,
.bf-field input:focus+label,
.bf-field textarea:focus+label {
    top: -12px;
    font-size: 12px;
    color: #7aa2ff;
}

/* important */
.bf-field input::placeholder,
.bf-field textarea::placeholder {
    color: transparent;
}




/* focus line */

.bf-field input:focus,
.bf-field textarea:focus {
    border-bottom: 1px solid #7aa2ff;
}

/* button */

.bf-send-btn {
    width: 100%;
    margin-top: 8px;
    padding: 13px;
    border-radius: 10px;
    border: none;
    background: #000000;
    color: white;
    font-weight: 600;
    cursor: pointer;
    transition: .25s;
}

.bf-send-btn:hover {
    background: orange;
    transform: translateY(-2px);

}